/* reset margin dan pedding */
*{
    margin: 0;
    margin: 0;
}

header{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    padding: 15;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li{
    margin: 0 10px;
}